/*GENERAL STYLES */

header {
    width: 100%;
    height: 100px;
    background: #0000FF;
    border-radius: 5px 5px 0px 0px;
    line-height: 80px;
}
h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 25px;
    padding-top: 20px;
    font-weight: 600;
    text-align: center;
}
li {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color: #A4A4A4;
    padding-bottom: 16px
}
button:hover {
    background-color: #0000FF;
}

/* TO DO LIST */
.card {
    padding: 25px;
    margin-bottom: 20px;
    border: initial;
    background: #fff;
    border-radius: calc(.15rem - 1px);
    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}
#taskName {
    width: 100%;
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    margin: 30px 0px 10px 0px;
    padding: 8px;
}
.buttonAddTask {
    border: 1px solid white;
    color: #2575FC;
    float: right;
    position: relative;
    top: -54px;
    right: 15px;
    background: white;
    font-size: 32px;
    cursor: pointer;
    
}
.tasks {
    text-decoration: none;
    padding: 15px;
    margin: 35px 0;
    border-radius: 5px;
    background: #f7f7f7;
}
.tasks .fas {
    float: right;
    position: relative;
    font-weight: 600;
    color: #F20303;
    cursor: pointer;
    
}
#buttonDelete {
    display: contents;
}
#error {
    color: red;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    position: relative;
    list-style-type: none;
    transition: 0.2s;
}
ul li:hover {
    background-color: #E9E8E8;
    max-width: 100%;
}
#newElement {
    display: none;
}